.underline {
    display: block; /* Line between <p> and after sections */
    border-bottom: 4px solid #fca311;
    width: 80%;
    margin: 4rem 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
}

.footer-links {
    /* Put the links next to each other */
    justify-content: center;
    margin-top: 1.4rem;
}

.footer-container {
    /* Set the height and center copyrgiht text */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer p {
    /* Make it bolder */
    font-weight: 500;
    background-color: #f6f6f6;
    padding: 2rem;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .footer-links > li > a {
        font-size: 1rem;
    }

    /* Footer */
    .footer-links {
        /* Smaller gap between links */
        gap: 1rem;
        font-weight: 600;
        margin-top: 2rem;
    }

    footer p {
        /* Make it fit in one line */
        font-size: 0.8rem;
    }
}
